
body{
    background: #2E294E;
    font-family: 'Copse', serif;
    font-weight: bold;
}
.heading{
  display:flex;
  justify-content: center;
}
.heading h1{
  color:#D7263D;
  font-family: 'Fira Sans', sans-serif;
}
.heading span{
  color:#ffffff;
}
.flexcon{
    display: flex;
    justify-content: space-around;
    margin-top:50px;
}
.contact-table{
  margin-top:70px;
  
}
table {
    margin-top: 20px; 
    border-collapse: collapse;
    
  }
  table, tr, td {
    border: 1px solid #ffffff;
  } 
td{
  padding:10px;
 
}
  tr:nth-child(even){
    background: #413c5e;
    color:#ffffff;
  }
  tr{
    background-color:#A09DAE; 
    color:#413c5e;
  }
  
  fieldset {
    padding:70px 10px;
    border-radius:10px;
    background-color:#2E294E;
    width: 250px;
    color:white;
    height: 200px;
   border:1px solid #ECEBEE;
   position: relative;
   top:50%;
   transform: translateY(-50%);
  margin:0 auto;
  }
  form{
   height:500px;
  }
  label {
    display:block;
    margin-bottom:10px;
    color:#ECEBEE;
    opacity:0.3;
    left:50%;
    transform: translateX(-50%);
    position: relative;
    width:220px;
  }
  
  input {
   margin:0px 10px 10px 0px;
    background: #413c5e;
    color:#ffffff;
    border:none;
    padding:10px;
    width:200px;
    border-radius: 3px;
    left:50%;
   transform: translateX(-50%);
   position: relative;
    outline:none;
   }
  
  input:invalid {
    /* background-color:#f8333c; */
  }
  
  

  button{
    padding:12px 20px;
    border:1px solid #413c5e;
    background: transparent;
    color:white;
    color:#ffffff;
    border-radius: 3px;
    outline:none;
    font-family: 'Fira Sans', sans-serif;
  }
  button:hover{
    background: #D7263D;
    border:none;
  }
  .addbtn{
    width:220px;
    left:50%;
    transform: translateX(-50%);
    position: relative;
    background: #D7263D;
    border:none;
  }
  .addbtn:hover{
    background: #413c5e;
    color:white;
  }
  p, h2{
    padding-left:15px;
    color:#ffffff;
    
  }
  p, label{
    font-family: 'Fira Sans', sans-serif;
  }
 @media screen and (max-width:720px){
  .flexcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:50px;
}
body{
  overflow-x: hidden;
}
.flexcon{
  margin: 0;
}
form{
  height:355px
}
.contact-table{
  margin:50px auto 0 auto;
}
 }